<!doctype html>
<html>
<head>
 <title>LET'S-GO|Contact</title>
    
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500' rel='stylesheet' type='text/css'>
    <link href='custom.css' rel='stylesheet' type='text/css'>
</head>
 <body>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 


<div class="container" ng-app="contact">
<div class="col-md-5 controls app-features offset-xl-3">

    <div class="form-area" ng-controller="formCtrl">  
        <form role="form" name="inquiryForm" novalidate>
        <br style="clear:both; color: transparent;"> 
                    <h1 style="margin-bottom: 25px; text-align: center; color: black;">Contact Form</h1>
                    <h2 class="lead">Contact our 24/7 customer support if you have any 
                        questions. We'll help you out.</h2><br>
                    <div class="controls">
                        
                        <div class="form-group">
            <input name="name" ng-model="name" id="name" type="text" ng-pattern="nam" ng-required="true" autocomplete="off" placeholder="Full Name" class="form-control" >
            
            <span class="red-text" ng-if="inquiryForm.name.$error.required && inquiryForm.name.$dirty">Full name is a required field</span>
            
          </div>

          <div class="form-group">
            <input name="email" ng-model="email" id="eml" type="text" ng-pattern="eml_add" ng-required="true" autocomplete="off" placeholder="Email" class="form-control" >
            
            <span class="red-text" ng-if="inquiryForm.email.$error.required && inquiryForm.email.$dirty">Email is a required field</span>
            
            <span class="red-text" ng-show="inquiryForm.email.$error.pattern">Invalid Email</span>
          </div>
          <div class="form-group">
            <input name="contact" ng-model="contact" id="c_num" type="text" ng-required="true" ng-pattern="ph_numbr" autocomplete="off" placeholder="Contact Number" class="form-control">
            
            <span class="red-text" ng-if="inquiryForm.contact.$error.required && inquiryForm.contact.$dirty">Contact number is a required field</span>
            <span class="red-text" ng-show="inquiryForm.contact.$error.pattern">Please enter a 12 digit number</span>
            
          </div>
        </div>

            
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" ng-disabled="inquiryForm.$invalid">Submit Form</button>
        <a href="home.html"><button  type="button" id="submit" name="submit" class="btn btn-primary">Home</button></a>
        </form>
    </div>
</div>
</div>
</div>
 </div>

 <script src="js/angular.js"></script> 


</body>
</html>